.test {
  border: 1px solid #f109b7;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Content widht
--------------------------------------------- */
.wp-block {
  max-width: 720px;
}

/* Alignwide
--------------------------------------------- */
.wp-block[data-align="wide"] {
  max-width: 1168px;
}

/* Alignfull
--------------------------------------------- */
.wp-block[data-align="full"] {
  max-width: none;
}

/* Typography
--------------------------------------------- */
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* Blocks
--------------------------------------------- */
